<footer class="footer">
  <div class="container footer__top">
    <div class="footer__brand">
      <a routerLink="/" class="footer__logo">Hekto</a>
      <p class="footer__address">
        534/2, Tejgaon Industrial Area, Dhaka-1208, Bangladesh
      </p>
    </div>

    @for (group of linkGroups; track group.title) {
      <div class="footer__group">
        <h4 class="footer__group-title">{{ group.title }}</h4>
        <ul class="footer__group-list">
          @for (link of group.links; track link) {
            <li><a href="javascript:void(0)">{{ link }}</a></li>
          }
        </ul>
      </div>
    }
  </div>

  <div class="footer__bottom">
    <div class="container footer__bottom-inner">
      <p>Copyright &copy; {{ year }} Hekto. All rights reserved.</p>
      <div class="footer__dots" aria-hidden="true">
        <span></span><span></span><span></span>
      </div>
    </div>
  </div>
</footer>
